<!DOCTYPE html>
<html>
<head>

  <title>Bloccit</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<h1>All Page Views</h1>

<p>This is the page that is served up when a user views a page</p>

   <ul>
        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Map", welcome_map_path %></li>
        <li><%= link_to "Login", welcome_login_path %></li>
   </ul>


<%= yield %>

</body>
</html>
